<header class="default-header col-xs-2_5 col-sm-5" id="{{ site.person.nameref }}">
  <meta itemprop="gender" content="{{ site.person.gender }}" />
  <h1 itemprop="name">
    <span class="given-name"  itemprop="givenName">{{ site.person.given_name }}</span>
    <span class="family-name hidden-xs" itemprop="familyName">{{ site.person.family_name }}</span>
  </h1>

  <nav class="hidden-xs">
    <ul>
      <li><a href="#person">is a person</a></li>
      <li><a href="#developer">is a developer</a></li>
      <li><a href="#professional">is a professional</a></li>
      <li><a href="#social">is social</a></li>
    </ul>
  </nav>
</header>
